Link to "RFC 3339, section 5.6" is not correct

In the section [Dates and times](https://github.com/json-schema-org/understanding-json-schema/blob/master/source/reference/string.rst#dates-and-times), the link for "RFC 3339, section 5.6." takes me to `https://json-schema.org/draft/2019-09/json-schema-validation.html`, but it should really be `https://tools.ietf.org/html/rfc3339#section-5.6`.